.login-page {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 12px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.login-logo {
  width: 140px;
  margin: 0 auto;
  display: block;
}

.login-welcome {
  text-align: center;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0.1rem;
  font-size: larger;
  font-weight: bold;
}

.login-inputs label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
}

.login-inputs input {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-button {
  padding: 0.7rem;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.login-button:hover {
  background-color: #005bb5;
}

.m-b-1 {
    margin-bottom: 1rem !important;
}

.login-button:disabled {
  background-color: #5a9bf9;
  cursor: not-allowed;
}

.login-button:hover:not(:disabled) {
  background-color: #0056b3;
}

.login-error {
  color: orangered;
  margin-top: 1rem;
}

.login-success {
  color: green;
  margin-top: 1rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
}

.modal button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
